---
layout: default
title: "Adventures Magazine"
excerpt: "You are looking for something unique, a new app, website, game or digital experience ? Let’s start your future digital adventure with us."
date: 2016
tags:
- "app"
- "website"
- "games"
- "digital instalation "

---


  <section class="magazine">
    <header>
      <h1>{{page.title}}</h1>
    </header>

  <section class="index-magazine">
    {% for item in site.posts %}
      {% if foorloop.first %}<ul>{% endif %}
        <li>
          <a href="{{ item.url }}">
            <img src="/assets/images/projects/{{item.cover}}" alt="">
            <h3>{{ item.title }}</h3>
            <p>{{item.excerpt}}</p>
          </a>
        </li>
      {% if foorloop.last %}</ul>{% endif %}
      {% else %}
      <p>No blogposts found</p>
    {% endfor %}
  </section>
  </section>
