<div class="footer">
    <ul class="footer-info">
        <li class="footer-info__row logo">Digital</br>Adventures</li>
        <li class="footer-info__row navigation">
            <ul>
                <li class="footer-nav__item" data-activeItem="vision-active"><a href="http://digital-adventures.io/#vision">Vision</a></li>
                <li class="footer-nav__item" data-activeItem="project-active"><a href="" >Projects</a></li>
                <li class="footer-nav__item" data-activeItem="contact-active"><a href="" >contact</a></li>
            </ul>
        </li>
        <li class="footer-info__row contact">
            <ul>
                <li class="mail"><a href="mailto:hello@adventu.digital?Subject=Hello">hello@adventu.digital</a></li>
            </ul>
        </li>
    </ul>
    <p class="copyright">© 2016 Digital Adventure - All rights reserved</p>
</div>
