header[role=banner]{
  position: relative;
  height: 100vh;
  z-index: 1;
}

.site-banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: url('../../assets/images/website/header_small.png') 50% 0 no-repeat;
  background-size:cover !important;
  height: 100vh;

  width: 100%;
  @include mq(xs){
    background: url('../../assets/images/website/header_medium.png')50% 0 no-repeat;
  }
  @include mq(md){
    background: url('../../assets/images/website/header.png')50% 0 no-repeat;
  }

  .site-title-holder, .site-title{
    	position: relative;
  }

  .site-title--decorative{
    	position: absolute;
      top: 0;
      display: block;
      width: 100%;
      text-align: center;
  }

}
