$mq-list:
  ( xs: $bp-xs,
    sm: $bp-sm,
    md: $bp-md,
    lg: $bp-lg,
    xl: $bp-xl
		);

@mixin mq($breakpoint) {
  $breakpoint-name: unquote($breakpoint);

  @if map-has-key($mq-list, $breakpoint-name) {
    $query: map-get($mq-list, $breakpoint-name);
    @media all and (min-width: #{$query}) {
      @content;
    }
  }
  @else {
    @media all and($breakpoint){
      @content;
    }
  }
}



@mixin linear-gradient($direction, $color-stops...) {
  @if is-direction($direction) == false {
    $color-stops: $direction, $color-stops;
    $direction: 180deg;
  }

  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

@function tilted-height($angle){
  $value : abs($angle);
    @return (tan($value) * 100%);
}
