/*************************
    Typography
*************************/
/*####################
=color
#####################*/
/*####################
=Typography
#####################*/
/*Nav*/
/*Math*/
/*************************
    Functions
*************************/
/*==================================================
    Reset
==================================================*/
body {
  font-size: 1rem; }

/*==========================================================
    Helpers
==========================================================*/
ul, nav[role=navigation] ul {
  list-style: none;
  padding-left: 0; }

.no-margin {
  margin: 0; }

/************************
    Size and space
*************************/
.wrap--big {
  width: 95%; }

/************************
    Styles
*************************/
.hide {
  opacity: 0;
  height: 0;
  margin: 0;
  padding: 0;
  margin-left: -999em;
  margin-left: -999rem;
  position: absolute; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.centered {
  text-align: center; }

svg {
  height: auto; }

.step-holder--02, .step-holder--03, .step-holder--04 {
  transform-origin: left top; }
  .step-holder--02 .step-block, .step-holder--03 .step-block, .step-holder--04 .step-block {
    top: 0;
    transform-origin: right bottom; }

.page {
  position: relative; }

.section-block, .step-block {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  background-size: cover !important;
  position: relative;
  text-align: center; }
  .section-block span, .step-block span {
    display: block; }

/*Section block*/
.section-block {
  justify-content: flex-start;
  padding-top: 5%;
  color: #13131B;
  z-index: 4; }

.section-block--contact {
  background: url("../../assets/images/website/contact.png") 50% 0 no-repeat; }
  .section-block--contact:before {
    background: rgba(255, 255, 255, 0.1);
    background: -webkit-linear-gradient(legacy-direction(#FFF), rgba(255, 255, 255, 0.1) 45%);
    background: linear-gradient(#FFF, rgba(255, 255, 255, 0.1) 45%);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; }

.section-block--projects:before {
  background: rgba(255, 255, 255, 0.1);
  background: -webkit-linear-gradient(legacy-direction(#FFF), rgba(255, 255, 255, 0.1) 65%);
  background: linear-gradient(#FFF, rgba(255, 255, 255, 0.1) 65%);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2; }

.section-block__content, .step-block__content {
  position: relative;
  max-width: 460px;
  margin: 0 auto;
  padding: 2em 1em;
  z-index: 3; }

.section-block__icon {
  max-width: 75px;
  max-height: 75px; }
  .section-block__icon path {
    fill: #DDAA62; }

.section-block__btn {
  background: #DDAA62;
  color: #FFF;
  font-size: 1.125em;
  font-family: "Fjalla One", sans-serif;
  padding: 0.8em 2em;
  border: none;
  border-radius: 3px;
  text-transform: uppercase; }

/*Step block*/
.step-holder {
  display: block;
  min-height: 50vh; }

.step-holder--01 {
  position: relative; }
  .step-holder--01 svg {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -1px;
    z-index: 5; }
  .step-holder--01 polygon {
    fill: #FFF;
    stroke-width: 0; }
  .step-holder--01 .step-block {
    padding-top: 20%; }

.step-holder--04 {
  position: relative; }
  .step-holder--04 svg {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: -1px;
    z-index: 5;
    transform: skewY(12deg); }
  .step-holder--04 polygon {
    fill: #FFF;
    stroke-width: 0; }
  .step-holder--04 .step-block {
    padding-top: 20%; }

.step-holder--01 .step-block, .step-holder--02 .step-block, .step-holder--03 .step-block, .step-holder--04 .step-block {
  padding-bottom: 10.6278280835%; }

.step-holder--02, .step-holder--03, .step-holder--04 {
  overflow: hidden;
  transform: skewY(-12deg);
  margin-bottom: -21.255656167%;
  box-sizing: border-box;
  z-index: 3; }
  .step-holder--02 .step-block, .step-holder--03 .step-block, .step-holder--04 .step-block {
    position: relative;
    transform: skewY(12deg); }
  .step-holder--02 .step-block, .step-holder--03 .step-block, .step-holder--04 .step-block {
    padding-top: 21.255656167%; }

.step-block {
  justify-content: flex-start;
  color: #FFF; }
  .step-block:before {
    background: rgba(0, 0, 0, 0.1);
    background: -webkit-linear-gradient(legacy-direction(transparent), rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.9) 100%);
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.9) 100%);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0; }

.step-holder--01 .step-block {
  background: url("../../assets/images/website/step01.png") 50% 0 no-repeat; }

.step-holder--02 .step-block {
  background: url("../../assets/images/website/step02.png") 50% 0 no-repeat; }

.step-holder--03 .step-block {
  background: url("../../assets/images/website/step03.png") 50% 0 no-repeat; }

.step-holder--04 .step-block {
  background: url("../../assets/images/website/step04.png") 50% 0 no-repeat; }

/*Nav
############################################################
*/
nav[role=navigation] {
  position: fixed;
  background: url("../../assets/images/website/mapBg.png") 50% 0 no-repeat;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 8;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1); }
  nav[role=navigation] ul {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 2;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1); }
    @media all and (min-width: 35.5rem) {
      nav[role=navigation] ul {
        max-height: 50vh;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end; } }

.mainnav__item {
  text-align: center;
  max-width: 75px;
  overflow: hidden;
  padding: 1em; }
  .mainnav__item a {
    text-decoration: none;
    color: #DDAA62;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif; }
  .mainnav__item svg {
    transition: all 150ms cubic-bezier(0.77, 0, 0.175, 1); }
    .mainnav__item svg:hover {
      transform: scale(1.25); }
    .mainnav__item svg path {
      fill: #DDAA62; }

.nav-btn span, .nav-btn span:after, .nav-btn span:before {
  display: inline-block;
  width: 1.5rem;
  height: 0.2142857143rem;
  background: #FFF;
  border-radius: 0.1071428571rem;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1); }

.nav-btn {
  background: #13131B;
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 3;
  display: inline-block;
  padding: 0.5rem 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  user-select: none;
  border-radius: 1.5rem;
  border: none;
  line-height: 0;
  box-sizing: content-box; }
  .nav-btn:hover {
    opacity: 1; }
  .nav-btn span {
    position: relative;
    transition: background 0.3s 0.6s ease; }
    .nav-btn span:after, .nav-btn span:before {
      position: absolute;
      left: 0;
      content: '';
      transform-origin: 50% 50%;
      transition: top 0.3s 0.6s ease, transform 0.3s ease; }
    .nav-btn span:before {
      top: 0.4285714286rem; }
      .nav-btn span:before:hover {
        top: -1rem; }
    .nav-btn span:after {
      top: -0.4285714286rem; }
      .nav-btn span:after:hover {
        top: 1rem; }

nav {
  left: -250px; }

.menu-active nav {
  left: 0; }
.menu-active .nav-btn {
  right: 0; }
.menu-active span {
  transition: background 0.3s 0s ease;
  background: transparent; }
  .menu-active span:after, .menu-active span:before {
    transition: top 0.3s ease, transform 0.3s 0.5s ease;
    top: 0;
    width: 1.5rem; }
  .menu-active span:before {
    transform: rotate3d(0, 0, 1, 45deg); }
  .menu-active span:after {
    transform: rotate3d(0, 0, 1, -45deg); }

header[role=banner] {
  position: relative;
  height: 100vh;
  z-index: 1; }

.site-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: url("../../assets/images/website/header_small.png") 50% 0 no-repeat;
  background-size: cover !important;
  height: 100vh;
  width: 100%; }
  @media all and (min-width: 35.5rem) {
    .site-banner {
      background: url("../../assets/images/website/header_medium.png") 50% 0 no-repeat; } }
  @media all and (min-width: 64rem) {
    .site-banner {
      background: url("../../assets/images/website/header.png") 50% 0 no-repeat; } }
  .site-banner .site-title-holder, .site-banner .site-title {
    position: relative; }
  .site-banner .site-title--decorative {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    text-align: center; }

.footer {
  background: #13131B;
  color: #FFF; }
  .footer p {
    text-align: center; }
  .footer a {
    color: #FFF; }
    .footer a:hover {
      color: #DDAA62; }

.footer-info {
  max-width: 560px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  @media all and (min-width: 35.5rem) {
    .footer-info {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      text-align: left; } }

.footer-info__row {
  padding: 1rem; }
  .footer-info__row.logo {
    font-family: "Fjalla One", sans-serif;
    line-height: 1em;
    font-size: 2.25rem; }
  .footer-info__row.navigation {
    text-transform: uppercase; }
  .footer-info__row .mail {
    font-family: "Fjalla One", sans-serif;
    font-size: 1.125rem;
    padding-bottom: 1rem; }

.social {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .social li {
    margin-right: 1rem; }
  .social a {
    box-sizing: border-box;
    display: block;
    text-align: center;
    transition: all 150ms cubic-bezier(0.77, 0, 0.175, 1);
    width: 1.875rem;
    height: 1.875rem; }
    .social a:hover {
      transform: scale(1.25); }
  .social svg {
    display: inline-block;
    fill: #FFF;
    height: 100%;
    box-sizing: border-box;
    vertical-align: middle; }
  .social ellipse {
    fill: #DDAA62; }
  @media all and (min-width: 35.5rem) {
    .social {
      justify-content: flex-start; } }

.copyright {
  opacity: 0.1;
  padding: 1rem;
  margin: 0 2rem;
  border-top: 1px solid #FFF;
  font-size: 0.75rem; }

.button {
  background: #13131B;
  border-radius: 0.1em;
  color: #fff;
  padding: 1em 1.2em;
  text-align: center;
  text-transform: uppercase; }

a {
  text-decoration: none; }

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: "Open Sans", sans-serif; }

.page {
  position: relative; }

.container {
  height: 100%;
  overflow: hidden; }

ul {
  margin: 0; }

button {
  cursor: pointer; }

@font-face {
  font-family: 'Redlight-line';
  src: url("../../assets/fonts/The Redlight Line Bold.ttf") format("truetype"), url("../../assets/fonts/The Redlight Line Bold.otf") format("opentype");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Redlight-stylistic';
  src: url("../../assets/fonts/The Redlight Stylistic.ttf") format("truetype"), url("../../assets/fonts/The Redlight Stylistic.otf") format("opentype");
  /* Legacy iOS */ }
html {
  font: normal 100%/1.5 "Open Sans", sans-serif; }

h1, h2, h3, h4 {
  margin: 0; }

.site-title, .site-catch-phrase, .site-title--decorative {
  line-height: 1em;
  font-weight: 400; }

.section-block__title, .step-block__number, .step-block__title {
  font-size: 3rem;
  font-weight: 400; }

.section-block__title, .step-block__number, .step-block__title {
  font-family: "Fjalla One", sans-serif; }

.site-catch-phrase, .section-block__subTitle {
  font-family: "Raleway", sans-serif;
  font-weight: 300; }

.site-title {
  font-family: "Redlight-stylistic", sans-serif;
  font-size: 3rem;
  color: #FFF; }
  @media all and (min-width: 35.5rem) {
    .site-title {
      font-size: 4.5rem; } }
  @media all and (min-width: 64rem) {
    .site-title {
      font-size: 6.875rem; } }

.site-title--decorative {
  font-family: "Redlight-line", sans-serif;
  font-size: 4rem;
  color: #d5b88a;
  opacity: 0.4; }
  @media all and (min-width: 35.5rem) {
    .site-title--decorative {
      font-size: 5.625rem; } }
  @media all and (min-width: 64rem) {
    .site-title--decorative {
      font-size: 8.125rem; } }

.site-catch-phrase {
  position: relative;
  color: #faf0db; }

.section-block__title {
  font-family: "Redlight-stylistic", sans-serif; }

.step-block__title {
  line-height: 1em; }

.step-block__number {
  line-height: 0.6em; }
  .step-block__number:after {
    font-size: 12px;
    text-decoration: underline;
    content: "step";
    text-transform: capitalize;
    font-family: "Open Sans", sans-serif;
    display: block;
    text-align: center; }
