.footer{
  background: $secondary-color;
  color:$main-color;
  p{
    text-align: center;
  }
  a{
    color:$main-color;
    &:hover{
      color: $ternary-color;
    }
  }
}

.footer-info{
  max-width: 560px;
  margin: 0 auto;
  padding: rem(32);
  display: flex;
  flex-direction:column;
  justify-content: center;
  text-align: center;

  @include mq(xs){
    flex-direction:row;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
  }

}

.footer-info__row{
padding: 1rem;

  &.logo{
    font-family: $secondary-font;
    line-height: 1em;
    font-size: rem(36);
  }

  &.navigation{
    text-transform: uppercase;

  }
  .mail{
    font-family: $secondary-font;
    font-size: rem(18);
    padding-bottom: 1rem;
  }
}

.social{
  display: flex;
  flex-direction: row;
  justify-content: center;
  li{
    margin-right: 1rem;
  }
  a{
    box-sizing: border-box;
    display: block;
    text-align: center;
    transition: all 150ms $ease-in-out-primary;
    max-width: rem(30);
    max-height: rem(30);
    &:hover{
      transform: scale(1.25);
    }
  }
  svg{
    display: inline-block;
    fill: $main-color;
    height: 100%;
    box-sizing: border-box;
    vertical-align: middle;
  }

  ellipse{
    fill:$ternary-color;
  }

  @include mq(xs){
    justify-content: flex-start;
  }
}

.copyright{
  opacity:0.1;
  padding: 1rem;
  margin: 0 2rem;
  border-top: 1px solid $main-color;
  font-size: rem(12);
}
