.contact-info--nav{
  background: $main-color;
  position: fixed;
  top: 0;
  left:-100%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $secondary-color;
  transition: all 500ms $ease-in-out-primary;
  z-index: 2;
  padding: 1rem;
  box-sizing: border-box;
  p{
    max-width: 540px;
  }
  svg{
    max-width: 72px;
  }
    path{
      fill:$ternary-color;
    }
}




.contact .contact-info--nav{
  left: 0;
}
