svg{
  height: auto;
}

//gradient

@mixin linear-gradient($direction, $color-stops...) {
  @if is-direction($direction) == false {
    $color-stops: $direction, $color-stops;
    $direction: 180deg;
  }

  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

@function tilted-height($angle){
  $value : abs($angle);
    @return (tan($value) * 100%);
}

%tilted-top{
  transform-origin: left top;
  .step-block{
    top:0;
    transform-origin: right bottom;
  }
}

%tilted-bottom{
  transform-origin: left bottom;
  .step-block{
    top:0;
    transform-origin: left bottom;
  }
}

@mixin tilted($angle, $position){
  @if $position == bottom {
    @extend %tilted-bottom;
  }@else{
      @extend %tilted-top;
  }
    overflow: hidden;
    transform: skewY($angle);
    margin-bottom:-#{tilted-height($angle)};
    box-sizing: border-box;
    z-index:3;
    .step-block{
    position: relative;
    transform: skewY(-$angle);

    }

}

%triangle-down{
  box-sizing: content-box;
  display: block;
      overflow: hidden;
  background:$main-color;
  width: 100%;
  padding-bottom: 20%;
  &:before{
    content: "";
    background: aqua;
    display: block;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 100%;
    transform: rotate(90deg);

  }
}

%triangle-lr{
  position: absolute;
  top: -100px;
  box-sizing: content-box;
  width: 50%;
  height: 0;
  padding-left: 50%;
  overflow: hidden;
  background: transparent;
  padding-top: 100px;
  z-index:4;
  &:before, &:after{
    position: absolute;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-bottom: 150px solid transparent;

  }
  &:before{
    left: 0;
        border-left: 500px solid $main-color;
  }
  &:after{
    right: 0;
      border-right: 500px solid $main-color;

  }

}


.page{
  position: relative;
}


.section-block, .step-block{
  display: flex;
  flex-direction:column;
  min-height: 75vh;
  background-size: cover !important;
  position: relative;
  text-align: center;
  span{
    display: block;
  }
}

/*Section block*/
.section-block{
    justify-content: flex-start;
    padding-top: 5%;
  color: $secondary-color;
  z-index: 4;
}

.section-block--vision{
}


.section-block--contact{
  background: url('../../assets/images/website/contact.png') 50% 0 no-repeat;
  &:before{
    @include linear-gradient(#FFF, rgba(255, 255, 255, 0.1) 45%);
    content: "";
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    z-index:2;
  }
}

.section-block--projects{
  &:before{
    @include linear-gradient(#FFF, rgba(255, 255, 255, 0.1) 65%);
    content: "";
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    z-index:2;
  }
  .section-block__decoration{
    @extend %triangle-lr;
  }
}



.section-block__content, .step-block__content{
  position: relative;
  max-width: 460px;
  margin: 0 auto;
  padding: 2em 1em;
  z-index: 3;

}

.section-block__icon{
  margin: 0 auto;
  max-height: 100px;
  max-width: 100px;

}

.section-block__btn{
  background: $ternary-color;
  color: $main-color;
  font-size: em(18);
  font-family: $secondary-font;
  padding: 0.8em 2em;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
}

/*Step block*/


.step-holder{
  display: block;
  min-height: 75vh;
}

.step-holder--01{
  position: relative;
  svg{
  position: absolute;
  top: 0;
  left: 0;
  margin-top:-1px;
  z-index: 5;
  }
  polygon{
    fill:$main-color;
    stroke-width:0;
  }
  .step-block{
      padding-top:20%;
  }
}

.step-holder--04{
  position: relative;
  svg{
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom:-1px;
  z-index: 5;
  transform: skewY($tilted-angle * -1);
  }
  polygon{
    fill:$main-color;
    stroke-width:0;
  }
  .step-block{
      padding-top:20%;
  }
}

.step-holder--01, .step-holder--02, .step-holder--03, .step-holder--04{
  .step-block{
    padding-bottom: tilted-height($tilted-angle)/2;
  }
}

.step-holder--02, .step-holder--03, .step-holder--04{
  @include tilted($tilted-angle, top);
  .step-block{
    padding-top: tilted-height($tilted-angle);
  }
}

.step-block{
  justify-content: flex-start;
  color: $main-color;
  &:before{
    @include linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.9) 100%);
    content: "";
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    z-index:2;
  }
}


.step-holder--01 .step-block{
  background: url('../../assets/images/website/step01.png') 50% 0 no-repeat;
}

.step-holder--02 .step-block{
  background: url('../../assets/images/website/step02.png') 50% 0 no-repeat;
}

.step-holder--03 .step-block{
  background: url('../../assets/images/website/step03.png') 50% 0 no-repeat;
}

.step-holder--04 .step-block{
  background: url('../../assets/images/website/step04.png') 50% 0 no-repeat;
}
