.project{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  figcaption{
    padding: 1rem;
    box-sizing: border-box;
    @include mq(xs){
          max-width: 50%;
    }
    @include mq(sm){
          max-width: 33%;
    }
  }
}

.projects__content__item{
  position: relative;
}

.project__cover{
  background: $main-color;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100vw;
  max-width: 400px;
  overflow: hidden;
  z-index: 5;
  transition: all 500ms $ease-in-out-primary;
  pointer-events: none;

  .sticker{
    position: absolute;
    bottom:0;
    left:0;
  }

  .presentation{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 80%;
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;

  }

  .logo{
    width: rem(100);
  }
}

.project__cover__image{
  background-position: center center;
  width: 100%;
  height: 100vh;
  transition: all 500ms $ease-in-out-primary;
}

.fold{
    left:-400px;
}
.show-info{
  .project__cover__image{
    height: 30vh;
  }
  .sticker{
    left: -400px;
  }
}
.project__content{
  position: absolute;
  top: 0;
  left:0;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100%;
  margin-left: 320px;
  transition: all 300ms $ease-in-out-primary;
  h3{
    font-family: $secondary-font;
    font-size: rem(28);
  }
}
.project__content--2{
  width: 200vw;
}
.project__content--3{
  width: 300vw;
}
.project__content--4{
  width: 400vw;
}
.project__content--5{
  width: 500vw;
}
.project__content--6{
  width: 600vw;
}
.project__content--7{
  width: 700vw;
}
.project__content--8{
  width: 800vw;
}
.project__content--9{
  width: 900vw;
}
.project__content--10{
  width: 1000vw;
}

.projects__content__item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100%;
  margin: 0;
  @include mq(sm){
    flex-direction: row;
    align-items: center;
  }

  img{
    max-width: 100%;
  }
}

.projects__content__item--dark{
  color: $main-color;
}
.projects__content__item--bright{
  color:$secondary-color;
}

.sticker{
  max-width: 400px;
  margin: 1rem 0 1rem -1rem;
  background: $main-color;
  padding: 0.2rem;
  transition: all 500ms $ease-in-out-primary;

}

.sticker__list__item{
  padding: 1rem;
}

.sticker__list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid $secondary-color;
}

.sticker__title{
  text-transform: uppercase;
  font-size: rem(28);
  border-right: 1px solid $secondary-color;
  flex-grow:2;
  text-align: center;
}
.sticker__date{
  padding: 0;
  text-align: center;
  time, span{
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5em 1em;
  }
  time{
    font-size: rem(12);
    border-bottom: 1px solid $secondary-color;
  }
  span{
    font-size: rem(24);
  }
}

.sticker__info{
  border-top: 1px solid $secondary-color;
  text-align: center;
  width: 100%;
  ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  li+li:before{
    content: ", "
  }
}

.sticker--project{

}

.video-element{
  position: relative;
  overflow: hidden;
  img{
    position: relative;
    z-index: 2;
    pointer-events: none;
  }
}

.video-container{
  position: absolute;
  top:0;
  left:0;
  height: 0;
  width:100%;
  padding-bottom: 56.25%;
  overflow: hidden;
  z-index: 1;


  iframe, object, embed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
